---
import { Icon } from "astro-icon";
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
 <div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4 bg-gradient-to-b from-red-50 to-red-100 text-black italic">
        <a 
                    href="/"
       class="text-red-500 inline-flex items-center mb-5 lg:mb-8">
                    <Icon name="Back" class="w-4 h-4 mr-2" />

                Back to home
                 </a>
    <div class="flex flex-col lg:flex-row justify-between gap-8">
        
        <div class="w-full lg:w-5/12 flex flex-col justify-center">
         
            <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-red-500  pb-4">About The Balanced Chef</h1>
            <p class="font-normal text-base leading-6 ">Welcome to The Balanced Chef blog, your go-to resource for delicious and healthy recipes, cooking tips, and wellness advice. Our mission is to empower individuals to create nutritious meals that nourish both the body and the soul. We believe that eating well should be enjoyable and sustainable, and we're here to inspire you on your culinary journey.</p>
        </div>
        <div class="w-full lg:w-8/12">
            <img class="w-full h-full" src="https://i.ibb.co/FhgPJt8/Rectangle-116.png" alt="A group of People" />
        </div>
    </div>

    <div class="flex lg:flex-row flex-col justify-between gap-8 pt-12">
        <div class="w-full lg:w-5/12 flex flex-col justify-center">
            <h1 class="text-3xl lg:text-4xl font-bold leading-9  pb-4">Our Story</h1>
            <p class="font-normal text-base leading-6 ">At The Balanced Chef, we started with a simple vision: to make healthy eating accessible and enjoyable for everyone. Our founder, Jane Smith, a passionate home cook and nutrition enthusiast, wanted to share her love for nutritious and delicious meals. With a focus on whole, unprocessed ingredients and creative recipe ideas, our blog has grown into a trusted resource for those seeking a balanced approach to food and wellness.</p>
        </div>
        <div class="w-full lg:w-8/12 lg:pt-8">
            <div class="grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 lg:gap-4 shadow-lg rounded-md">
                <div class="p-4 pb-6 flex justify-center flex-col items-center">
                    <img class="md:block hidden" src="https://i.ibb.co/FYTKDG6/Rectangle-118-2.png" alt="Alexa featured Image" />
                    <img class="md:hidden block" src="https://i.ibb.co/zHjXqg4/Rectangle-118.png" alt="Alexa featured Image" />
                    <p class="font-medium text-xl leading-5  mt-4">Alexa</p>
                </div>
                <div class="p-4 pb-6 flex justify-center flex-col items-center">
                    <img class="md:block hidden" src="https://i.ibb.co/fGmxhVy/Rectangle-119.png" alt="Olivia featured Image" />
                    <img class="md:hidden block" src="https://i.ibb.co/NrWKJ1M/Rectangle-119.png" alt="Olivia featured Image" />
                    <p class="font-medium text-xl leading-5  mt-4">Olivia</p>
                </div>
                <div class="p-4 pb-6 flex justify-center flex-col items-center">
                    <img class="md:block hidden" src="https://i.ibb.co/Pc6XVVC/Rectangle-120.png" alt="Liam featured Image" />
                    <img class="md:hidden block" src="https://i.ibb.co/C5MMBcs/Rectangle-120.png" alt="Liam featured Image" />
                    <p class="font-medium text-xl leading-5  mt-4">Liam</p>
                </div>
                <div class="p-4 pb-6 flex justify-center flex-col items-center">
                    <img class="md:block hidden" src="https://i.ibb.co/7nSJPXQ/Rectangle-121.png" alt="Elijah featured image" />
                    <img class="md:hidden block" src="https://i.ibb.co/ThZBWxH/Rectangle-121.png" alt="Elijah featured image" />
                    <p class="font-medium text-xl leading-5  mt-4">Elijah</p>
                </div>
            </div>
        </div>
    </div>
</div>

</Layout>
