---
import Testimonials0 from '../components/Testimonials0.astro';

import About from '../components/About.astro';
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
import Card from '../components/Card.astro';
---
<Layout
title="Home">
	<main>
<Home/>
	<About/>
		    <Card/>
		<Testimonials0/>
	
	</main>
</Layout>
