---
import Footer from '../components/Footer.astro';
import Testimonials from '../components/testimonials.astro';

import About from '../components/About.astro';
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
import Card from '../components/Card.astro';



---

<Layout
title="Home"

>
	<main>
	
	
<Home/>
	<About/>
		    <Card/>

		<Testimonials/>
			<Footer/>

	</main>
</Layout>

<style>
	
</style>
