---
import About from '../components/About.astro';
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
import Card from '../components/Card.astro';



---

<Layout title="Welcome to Astro.">
	<main>
		<h1
			class="bg-black"
		>Welcome to <span class="text-gradient">Astro</span></h1>
	
<Home/>
	<About/>
		    <Card/>



	</main>
</Layout>

<style>
	
</style>
