---
import Layout from '../layouts/Layout.astro';
import Posts from '../components/Posts';
import About from '../components/About.astro';
import Gallery from '../components/Gallery';


---

<Layout title="Welcome to Astro.">
	<main>
		<h1
			class="bg-black"
		>Welcome to <span class="text-gradient">Astro</span></h1>
	
		
		<About/>
	
		
	


	</main>
</Layout>

<style>
	
</style>
