---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Posts from '../components/Posts';

import Gallery from '../components/Gallery';


---

<Layout title="Welcome to Astro.">
	<main>
		<h1
			class="bg-black"
		>Welcome to <span class="text-gradient">Astro</span></h1>
	
		
	
	
		    <Card/>
	


	</main>
</Layout>

<style>
	
</style>
