
<h1>
    <a href="index.php">Home</a>
    <a href="index.php?page=about">About</a>
    <a href="index.php?page=contact">Contact</a>
    <a href="index.php?page=login">Login</a>
    <a href="index.php?page=register">Register</a>
    <a href="index.php?page=logout">Logout</a>
</h1>