---
import { Icon } from "astro-icon";

---

<div>
    <div
        class="mx-auto px-4 py-12 max-w-screen-xl bg-gradient-to-b from-red-50 to-red-100"
    >
        <h2
            class="text-4xl font-semibold tracking-wide text-center text-gray-800 sm:text-5xl"
        >
            The Balanced Chef
        </h2>
        <div
            class="grid grid-cols-1 xl:grid-cols-3 mt-16 space-y-16 xl:space-y-0 xl:space-x-10"
        >
            <div class="flex items-center space-x-6">
                <div class="w-16 h-16 p-3 rounded-full bg-black">
              
                </div>
                <div>
                    <h3 class="text-xl font-semibold text-gray-800">
                        Interactive Learning
                    </h3>
                    <p class="mt-2 text-gray-700">
                        Discover new recipes, cooking techniques, and culinary
                        tips through our interactive learning platform. Engage
                        with our community and enhance your culinary skills.
                    </p>
                </div>
            </div>
            <div class="flex items-center space-x-6">
                <div class="w-16 h-16 p-3 rounded-full bg-black">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        class="w-10 h-10 text-red-500"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 10h16M4 14h16M4 18h16"></path>
                    </svg>
                </div>
                <div>
                    <h3 class="text-xl font-semibold text-gray-800">
                        Community Support
                    </h3>
                    <p class="mt-2 text-gray-700">
                        Join our vibrant community of food enthusiasts, share
                        your recipes, and collaborate with fellow cooks. Get
                        inspired by others and receive valuable feedback on your
                        culinary creations.
                    </p>
                </div>
            </div>
            <div class="flex items-center space-x-6">
                <div class="w-16 h-16 p-3 rounded-full bg-black">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        class="w-10 h-10 text-red-500"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M5 13l4 4L19 7"></path>
                    </svg>
                </div>
                <div>
                    <h3 class="text-xl font-semibold text-gray-800">
                        Time-Saving Solutions
                    </h3>
                    <p class="mt-2 text-gray-700">
                        We understand the value of your time. Explore our
                        collection of quick and easy recipes designed to fit
                        your busy schedule. Cook delicious meals in no time and
                        make every minute count.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
