<div
    class="relative pt-12 pb-8 bg-black xl:pt-24 sm:pb-12 lg:pb-20 xl:pb-24 2xl:pb-32"
>
    <header class="absolute inset-x-0 top-0 z-10 py-4 xl:py-6">
        <div class="px-6 mx-auto sm:px-8 lg:px-12 max-w-7xl">
            <div class="flex items-center justify-between">
                <div class="flex flex-shrink-0">
                    <a
                        href="#"
                        title="The Balanced Chef"
                        class="inline-flex rounded-md focus:outline-none focus:ring-2 focus:ring-offset-4 focus:ring-offset-secondary focus:ring-primary"
                    >
                        <img
                            class="w-auto h-6"
                            src="https://cdn.rareblocks.xyz/collection/bakerstreet/images/logo.svg"
                            alt="The Balanced Chef"
                        />
                    </a>
                </div>
                <div class="md:hidden">
                    <button
                        type="button"
                        class="p-2 -m-2 transition-all duration-200 rounded-full text-white focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-primary focus:ring-offset-secondary"
                    >
                        <svg
                            class="w-5 h-5"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </button>
                </div>
                <div
                    class="hidden md:flex md:items-center md:space-x-6 lg:ml-20"
                >
                    <a
                        href="#"
                        title=""
                        class="font-sans text-sm font-normal transition-all duration-200 rounded text-white focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-primary focus:ring-offset-secondary"
                        >Courses</a
                    >
                    <a
                        href="#"
                        title=""
                        class="font-sans text-sm font-normal transition-all duration-200 rounded text-white focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-primary focus:ring-offset-secondary"
                        >Recipes</a
                    >
                    <a
                        href="#"
                        title=""
                        class="font-sans text-sm font-normal transition-all duration-200 rounded text-white focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-primary focus:ring-offset-secondary"
                        >Tips</a
                    >
                    <a
                        href="#"
                        title=""
                        class="inline-flex items-center justify-center px-4 py-2 font-sans text-sm font-normal leading-6 transition-all duration-200 border-2 rounded-full text-white border-primary focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-primary hover:bg-white hover:text-black focus:ring-offset-secondary"
                        >Sign Up</a
                    >
                </div>
            </div>
        </div>
    </header>
    <div class="absolute inset-0">
        <img
            class="object-cover w-full h-full filter brightness-75"
            src="https://images.unsplash.com/photo-1553395572-0ef353a212bf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=464&q=80"
            alt=""
        />
    </div>
    <div class="relative bg-opacity-75">
        <div class="px-6 mx-auto sm:px-8 lg:px-12 max-w-7xl">
            <div
                class="w-full lg:w-2/3 xl:w-1/2 p-6 rounded-lg bg-black bg-opacity-50"
            >
                <h1
                    class="font-sans text-2xl font-semibold tracking-tight text-white sm:text-4xl"
                >
                    Master the basics of baking
                </h1>
                <p class="mt-4 tracking-tight text-white sm:mt-6">
                    <span class="font-sans font-normal text-4xl"
                        >The Balanced Chef</span
                    ><br />
                    <span class="font-serif italic font-normal text-5xl"
                        >Discover the perfect balance</span
                    >
                </p>
                <p
                    class="mt-8 font-sans text-sm font-normal leading-6 text-white"
                >
                    The Balanced Chef offers a unique culinary experience that
                    blends flavors and ingredients to create nutritious and
                    delicious meals. Join us on a journey to explore the world
                    of balanced cooking and elevate your culinary skills.
                </p>
                <div class="flex items-center mt-6 space-x-4">
                    <a
                        href="#"
                        title=""
                        class="inline-flex items-center justify-center px-4 py-2 font-sans text-sm font-semibold transition-all duration-200 border-2 border-transparent rounded-full sm:leading-6 bg-white sm:text-base text-black hover:bg-opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary focus:ring-offset-secondary"
                        role="button">
                        <span>Get balanced cooking 

                        </span>
                        <svg
                            class="w-4 h-4 ml-2 -mr-1"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="#000"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M17 8l4 4m0 0l-4 4m4-4H3"
                            ></path>
                        </svg>
                        </a>


                        



                       

                   
                </div>
            </div>
        </div>
    </div>
</div>
